In [1]:
import numpy as np
import os
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [4]:
data = pd.read_csv("fakeNewsData.csv")

In [5]:
data.head()

                                                text          subject target
0  skopje reuters macedonian court sentenced 33 e...        worldnews   true
1  brussels reuters european union britain made p...        worldnews   true
2  london reuters planned changes president barac...     politicsNews   true
3  taking donald trump erratic unpredictable beha...             News   fake
4  worse second longer version audio kerry spills...  Government News   fake

In [6]:
data.tail()

                                                    text       subject target
44893  reuters petition white house halt us navy’s ab...  politicsNews   true
44894  mere fact donald trump presumptive nominee pre...          News   fake
44895  patrick henningsen 21st century wirethis week ...       US_News   fake
44896  harsh reminder differently reporters treated o...      politics   fake
44897  riyadhdubai reuters saudi arabian banks begun ...     worldnews   true